/*
font-family: 'PT Sans', sans-serif; (bold)
font-family: 'PT Serif', serif; (regular, italic, bold)
Text sizes: 1.5rem, 1.125rem, 0.8rem
Line height: 1.5
Colours: #c9b5ab, #8f2440, #222, #3f1622
*/

html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #c9b5ab;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
}

header ol {
  list-style-type: none;
  text-align: left;
  padding: 0;
  background-color: #c9b5ab;
  color: #8f2440;
  font-size: 1.125em;
  font-weight: normal;
  font-family: "PT Sans", sans-serif;
}

header ol li {
  display: block;
  margin: 0 1em;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #8f2440;
  text-decoration: none;
  border-bottom: 5px solid #22419a;
}

img {
  width: 100%;
}

figure {
  padding: 0;
  margin: 0;
}

figcaption{
  font-family: 'Shippori Mincho B1', serif;
  font-size: .8em;
  font-style: italic;
}

main {
  background-color: #c9b5ab;
  text-align: center;
}

.main-content {
  max-width: 60em;
  margin: 0 auto;
  background-color: #c9b5ab;
  padding: 0 1em;
}

p {
  font-family: "PT Serif", serif;
  font-size: 0.8rem;
}

datetime {

}

blockquote {

}
